{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}


{% block conteudo %}       
    <h1>users</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Senha
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Cursos</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Graduação
                </th>  
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td>{{ curso.nome }}</td>
                <td>{{ curso.graduacao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}