<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Repositório de TCC</title>
    {% endblock %}
</head>
<body>
    <nav>
        <a class="navLink" href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a class="navLink" href="{{ url_for('cursocadastro') }}">Curso</a>
            <a class="navLink" href="{{ url_for('tcccadastro') }}">TCC</a>
            <a class="navLink" href="{{ url_for('logout') }}">Logout - {{ current_user.username }}</a>
        {% else %}
        <a class="navLink" href="{{ url_for('login') }}">Login</a>
        <a class="navLink"class="navLink" href="{{ url_for('cadastro') }}">Cadastrar</a>
        {% endif %}
        <a class="navLink" href="{{ url_for('admin') }}">Area administrativa</a>
    </nav>

    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
    {% endwith %}


    {% block conteudo %}
    {% endblock %}


</body>
</html>